.app{
  display: flex;
  flex-direction: column;
}

.logo{
 width: 120px;
 height: 120px;
 margin-right: 0px;
}

.container{
  display:flex;
}

.form-container{

 display:grid;
 grid-template-columns: repeat(8, 1fr);
 gap:15px;
 width: 50%;

  /* display:flex;
  flex-wrap: wrap;
  flex-direction:row;
  width: 50%;
  margin: 20px;
  gap:10px; */
}

.text-field-1{
  grid-column : 1/5;
}

.text-field-2{
  grid-column : 5/9;
}

.text-field-3{
  grid-column : 1/4;
}

.text-field-4{
  grid-column : 4/9;
}

.text-field-5{
  grid-column : 1/4;
}
.text-field-6{
  grid-column : 1/9;
}

.form-heading{
  grid-column : 6/9;
  margin-right: 0px;
}

.text-field-7{
  grid-column : 1/6;
}

.text-field-8{
  grid-column : 6/9;
}

.text-field-9{
  grid-column : 1/9;
}

.text-field-10{
  grid-column : 1/5;
}

.img-1{
  grid-column : 8/9;
  width: 150px;
  height: 100px;
}
.userlist-container{
  display:flex;
  flex-direction: column;
  width: 50%;
  height: 200px;
  margin: 20px;
  gap: 20px;
}

.user-container{
  display:flex;
  flex-direction: column;
  width: 100%;
  height: 250px;
}

.user-details{
  display:flex;
  justify-content: space-between;
}

.user-spec{
  width: 70%;
}

.profile-spec{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile{
 width: 150px;
 height: 100px;
}

.form-button{
  grid-column : 3/6;
  border-radius: 10%;
}

.editButton{
  display: flex;
  margin-top: 100px;
  gap: 20px;
}